<script
  src="https://kit.fontawesome.com/28b78926ca.js"
  crossorigin="anonymous"
></script>
<div class="">
  <div class="flex flex-col text-center bg-blue-300 pb-60">
    <a
      href="/users/profile/<%=user?.id %>"
      class="text-3xl pt-5 mb-8 font-medium"
      ><i class="fa-regular fa-user"></i
    ></a>

    <span class="text-2xl mb-8 font-medium"
      ><i class="fa-solid fa-gear mr-1"></i>Actions</span
    >

    <a href="/customers" class="text-xl pb-4"
      ><i class="fa-solid fa-users mr-1"></i>Customers</a
    >
    <a href="/businesses" class="text-xl pb-4"
      ><i class="fa-regular fa-building mr-1"></i>Businesses</a
    >
    <a href="/invoices" class="text-xl pb-4"
      ><i class="fa-solid fa-file-invoice mr-1"></i>Invoices</a
    >
    <a href="/customers/create-customer" class="text-xl pb-4"
      ><i class="fa-solid fa-user-plus mr-1 text-lg"></i>New Customer</a
    >
    <a href="/businesses/create-business" class="text-xl pb-4"
      ><i class="fa-solid fa-user-plus mr-1 text-lg"></i>New Business</a
    >
    <a href="/invoices/create-invoice" class="text-xl pb-4"
      ><i class="fa-solid fa-file-circle-plus mr-1 text-lg"></i>New Invoice</a
    >
  </div>
</div>
