<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="./../../styles.css" />
  </head>
  <body>
    <h1 class="text-center text-[3rem] mb-[30px]">Error</h1>

    <div>
      <% if (error.includes('mongodb')) { %>
      <h3 class="w-full p-12 text-center text-3xl">
        Connection error, please check your network or router and try again
      </h3>
      <% }else{ %>
      <h3 class="w-full p-12 text-center text-3xl"><%= error %></h3>
      <% } %>
    </div>

    <div class="flex justify-center">
      <a href="/" class="error-btn">Go to Home</a>
    </div>
  </body>
</html>
