<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <%- include('./../partials/nav') %>

    <h1>Login</h1>

    <% if (error) { %>
    <i class="fas fa-exclamation-circle"></i>
    <small> <%= error%> </small>
    <% } %>
    <form action="/users/login" method="post">
      <div>
        <label>Email:</label>
        <input type="email" name="email" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>

      <button type="submit">Login</button>
      <p>Don't have an account? <a href="/users/register">Register</a></p>
    </form>
  </body>
</html>
