<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile Page</h1>

    <h1>Full name: <%= user.fullName %></h1>
    <h1>email: <%= user.email %></h1>
    <img src="<%= user.profileImage %>" alt="profile-image" />
  </body>
</html>
