<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Update</title>
    <link rel="stylesheet" href="./../../styles.css" />
  </head>
  <body class="bg-neutral-100">
    <%- include('./../partials/nav') %>

    <div class="form-container my-[7%] mx-auto h-[24rem]">
      <h1>Update</h1>

      <% if (error) { %>
      <small class="text-red-500"
        ><i class="fas fa-exclamation-circle"></i> <%= error%>
      </small>
      <% } %>

      <form
        action="/users/user-update-password/<%= user?.id %>?_method=PUT"
        method="post"
      >
        <div>
          <label>New Password:</label>
          <input
            type="password"
            name="newPassword"
            class="home-input border-black"
            id="password"
            onfocus="onFocusPassword()"
            oninput="passwordValidator(true)"
          />

          <small class="hidden text-red-500" id="weak-password"
            >Password too weak</small
          >

          <small class="hidden text-yellow-600" id="medium-password"
            >Password not strong enough
          </small>

          <small class="hidden text-[green]" id="strong-password"
            >Strong Password 💪</small
          >
        </div>

        <div>
          <label>Confirm Password:</label>
          <input
            type="password"
            name="confirmPassword"
            class="home-input border-black"
            id="confirmPassword"
            onfocus="onFocusConfirmPassword()"
            oninput="confirmPasswordValidator()"
          />
        </div>

        <button type="submit" class="home-action-btn">Update</button>
      </form>
    </div>
    <script>
      const password = document.querySelector('#password');
      const confirmPassword = document.querySelector('#confirmPassword');
      const weak = document.querySelector('#weak-password');
      const medium = document.querySelector('#medium-password');
      const strong = document.querySelector('#strong-password');

      const toggleClass = (condition, element) => {
        if (condition) {
          element.classList.remove('border-[red]');
          element.classList.remove('shadow-[red]');
          element.classList.remove('shadow');
          element.classList.remove('border-black');
          element.classList.add('border-[#4dee4d]');
          element.classList.add('shadow-[#4dee4d]');
          element.classList.add('shadow-md');
        } else {
          element.classList.add('border-[red]');
          element.classList.add('shadow-[red]');
          element.classList.add('shadow');
          element.classList.remove('border-[#4dee4d]');
          element.classList.remove('shadow-[#4dee4d]');
          element.classList.remove('shadow-md');
        }
      };

      function passwordValidator(isOninput) {
        if (password.value.length <= 3) {
          password.classList.add('border-[red]');
          password.classList.add('shadow-[red]');
          password.classList.add('shadow-md');
          medium.classList.add('hidden');
          strong.classList.add('hidden');
          password.classList.remove('border-black');
          password.classList.remove('shadow');
          password.classList.remove('border-[yellow]');
          password.classList.remove('shadow-[yellow]');
          if (isOninput) weak.classList.remove('hidden');
        }

        if (password.value.length > 3 && password.value.length <= 7) {
          password.classList.add('border-[yellow]');
          password.classList.add('shadow-[yellow]');
          weak.classList.add('hidden');
          strong.classList.add('hidden');
          password.classList.remove('border-[red]');
          password.classList.remove('shadow-[red]');
          if (isOninput) medium.classList.remove('hidden');
        }

        if (password.value.length >= 8) {
          password.classList.remove('border-[yellow]');
          password.classList.remove('shadow-[yellow]');
          password.classList.add('border-[#4dee4d]');
          password.classList.add('shadow-[#4dee4d]');
          weak.classList.add('hidden');
          medium.classList.add('hidden');
          if (isOninput) strong.classList.remove('hidden');
        }

        toggleClass(
          password.value === confirmPassword.value && confirmPassword.value,
          confirmPassword
        );

        confirmPassword.classList.remove('border-black');
      }

      function confirmPasswordValidator() {
        toggleClass(
          password.value === confirmPassword.value && confirmPassword.value,
          confirmPassword
        );
      }

      function onFocusPassword() {
        passwordValidator(false);
      }

      function onFocusConfirmPassword() {
        confirmPasswordValidator();
      }
    </script>
  </body>
</html>
