@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.form-container {
  @apply font-serif flex flex-col justify-center w-full max-w-lg bg-[#fff] p-8 rounded-md shadow-[0_0_10px_rgba(0,0,0,0.1)];
}

.home-input {
  @apply w-full h-10 py-0 px-4 text-[20px] mb-4 rounded-md border-solid  border-2;
}

.form-container h1 {
  @apply text-center m-[10px] text-[2.3rem] h-12;
}

.form-container small {
  @apply text-center text-base;
}

.home-action-btn {
  @apply text-white cursor-pointer bg-[darkblue] shadow-[0_0_10px_rgba(0,0,0,0.1)] border-2 border-solid border-[#ece7e7] text-[20px] w-full h-12 mb-5 mt-5 px-5 py-0 rounded-lg hover:bg-[blue] hover:scale-105 hover:text-[24px] transition ease-in-out duration-300;
}

.profile-action {
  @apply rounded-3xl px-4 py-[10px] text-fuchsia-600 hover:text-white hover:bg-fuchsia-600 font-semibold transform ease-in-out duration-150;
}

.view-invoices-btn {
  @apply px-[50px] py-[10px] border-[1px] border-solid border-[#e24949] rounded-full text-red-600 hover:text-white hover:bg-red-600 font-semibold transform ease-in-out duration-150;
}

.error-btn {
  @apply text-[30px] text-black px-[20px] py-[10px] border-[1px] border-solid border-black rounded-xl hover:bg-black hover:text-white transform ease-in-out duration-150;
}
